@font-face {
  font-family: "Gotham Rounded Book";
  src: url(../fonts/gotham_rounded_book.woff);
}

html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Gotham Rounded Book";
  font-size: 12px;

  #terrestria {
    z-index: 0;
  }

  #ui-overlay {
    z-index: 1;

    h1 {
      font-size: 18px;
    }

    .main-menu {
      width: 340px;
      min-height: 340px;
      max-height: 90%;
      overflow-y: auto;
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border-radius: 12px;
      padding: 20px;
    }

    .log-in {
      .continue {
        margin-top: 30px;
      }

      .go-back {
        position: absolute;
        bottom: 0;
      }
    }

    p {
      margin: 10px 0;
    }

    form {
      display: table;
      width: 100%;

      .form-field {
        display: table-row;

        label {
          display: table-cell;
          padding-right: 10px;
        }

        input {
          display: table-cell;
          width: 100%;
        }
      }
    }

    .error-msg {
      color: red;
      font-size: 0.8em;

      &.hidden {
        visibility: hidden;
      }
    }
  }
}
